.Rproj.user
.Rhistory
.RData
.Ruserdata
blastdb
data/05-cod-RNAseq-trimming/raw-reads
data/*.fna
data/*.fasta
data/*.tab
data/*.gtf
data/*.gff

output/05-cod-RNAseq-trimming/trimmed-reads
output/06-cod-RNAseq-alignment/kallisto/*.idx
output/06-cod-RNAseq-alignment/kallisto/kallisto_quant_*
output/06.2-cod-RNAseq-alignment-genome/hisat2/*.sam
output/06.2-cod-RNAseq-alignment-genome/hisat2/*.bam
output/06.2-cod-RNAseq-alignment-genome/hisat2/*.bai
.DS_Store
reports/~$bruary_2024.docx
blastdb
