params {
    config_profile_description = 'UW Hyak Roberts labs cluster profile provided by nf-core/configs.'
    config_profile_contact = '@sr320'
    config_profile_url = 'https://faculty.washington.edu/sr320/'
}
 
process {
    errorStrategy = 'retry'
    maxSubmitAwait = '60 min'
    maxRetries = 2
    executor = 'slurm'
    queue  = { task.attempt < 4 ? (task.attempt < 3 ? 'ckpt-all' : 'cpu-g2' ) : 'cpu-g2-mem2x' }    
    clusterOptions = { task.attempt < 4 ? (task.attempt < 3 ? "-A srlab" : "-A coenv" ) : "-A srlab" } 
    scratch = '/gscratch/scrubbed/srlab/'
    resourceLimits = [
        cpus: 48,
        memory: '400.GB',
        time: '72.h'
    ]

    withName: preseq { 
        errorStrategy = 'ignore' 
    }

    withName: BISMARK_ALIGN {
        cpus    = 32
        memory  = '100.GB'
        time    = '48.h'
        ext.args = [
            '--score_min L,0,-0.8',
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: BISMARK_METHYLATIONEXTRACTOR {
        ext.args = [
            '--merge_non_CpG',
            '--comprehensive',
            '--multicore 24',
            '--buffer_size 75%'
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: BISMARK_COVERAGE2CYTOSINE {
        ext.args = [
            '--merge_CpG',
            '--zero_based'
        ].join(' ')
        ext.prefix = { "${meta.id}" }
    }
}

 
executor {
    queuesize = 50
    submitRateLimit = '1 sec'
}
 
singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/gscratch/scrubbed/srlab/.apptainer'
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,hash,name,status,exit,submit,duration,realtime,%cpu,rss,vmem,rchar,wchar,disk,queue,hostname,cpu_model'
}
 
debug {
    cleanup = false
}